@charset "utf-8";
/* CSS Document */
html {
	width: 100%;
}
body{ 
	font-size:14px; 
	background:#fff; 
	font-family:"FZLanTingHei-L-GBK","GothamBook","helvetica","arial","Microsoft Yahei","微软雅黑",sans-serif;
	width:100%; 
	overflow-x:hidden;
	overflow-y: auto;
}
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,
em,a,fieldset,legend,address,label,textarea,select,input,figure,
table,th,td,b,i{
	margin:0;padding:0; 
}

.hy-main input[type=text]:focus,.hy-main input[type=password]:focus,.hy-main textarea:focus{
	 transition:border linear .2s,box-shadow linear .5s;
	 -moz-transition:border linear .2s,-moz-box-shadow linear .5s;
	 -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
	 outline:none;
	 border-color:rgba(140,215,255,.75);
	 box-shadow:0 0 8px rgba(140,215,225,.5);
	 -moz-box-shadow:0 0 8px rgba(140,215,225.5);
	 -webkit-box-shadow:0 0 8px rgba(140,215,225,3);
}
fieldset,img{
	border:0;
}
ul,li{
	list-style:none;
}
em,i{
	font-style:normal;
}
table{
	border-collapse:collapse;border-spacing:0;
}
a{
	text-decoration:none; 
	color:#666;
}
a:hover{
	text-decoration:none;
}
a:focus,input,button,select,textarea{
	outline:none;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%; 
 	font-variant: normal;
 	font-weight: normal;
}
p {
	font-weight: normal;
}
input,select,img{ 
	vertical-align:middle;
	border: none;
}
legend{ 
	display:none;
}
textarea{
	resize:none;
}


.clear{ 
	clear:both;
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	clear:both; 
	content:"";
	display:block;
	height:0;
	line-height:0;
	visibility:hidden;
}

.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mr10{ margin-right:10px;}
.pt10{ padding-top:10px;}
.fl{ float:left;}
.fr{ float:right;}
.tr{ text-align:right;}
.tl{ text-align: left;}
.ov{ overflow:hidden;}
.rel{ position:relative;}
.tc{ text-align:center;}
.none{ display:none;}
.block{ display:block;}
.redColor {
	color: #cd2c24;
}
.nav-bar .redColor{
	color: #cd2c24;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ddd;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ddd;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #e5e5e5;
    font-size: 21px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #e5e5e5;
    font-size: 21px;
}
.w1200 {
	width: 1200px;
	margin: 0 auto;
}
.shadow-bottom {
	-moz-box-shadow: 0px 5px 6px #e5e5e5; 
	-webkit-box-shadow: 0px 5px 6px #e5e5e5; 
	box-shadow: 0px 5px 6px #e5e5e5; 
}
.header-on {
	color: #cd2c24;
}
.m-auto {
	margin: 0 auto;
}
.m-r-5 {
	margin-right: 45px;
}
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex
}


.website {
/*	width: 100%;
*/
}
.website header {
	width: 100%;
	padding-top: 100px;
}
.website header .logo {
	width: 1200px;
	height: 66px;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}
header .logo img {
	width: 328px;
	height: 66px;
}
.website nav {
	width: 100%;
	margin-top:30px;
	background: url('../images/mavBg.png') #616161 no-repeat;
	background-position: left; 
	background-size: 100% 100%;
}
nav .nav-list {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0px 110px;
}
nav .nav-list li {
	padding: 19px 45px 13px 10px;
	position: relative;
}
nav .nav-list li::after {
	position: absolute;
	content: '';
	height: 40px;
	width: 1px;
	left: 0px;
	top: 20px;
	background: #fff;
}
.nav-list li a {
	color: #fafdff;
}
.nav-list li em {
	padding-bottom: 6px;
	font-size: 20px;
	display: block;
}
.nav-list li span {
	font-size: 14px;
	display: block;
}
.banner-wrap {
	width: 100%;
	background: url('../images/bannerbg.png') no-repeat;
	background-size: 100% 100%;
	height: 455px;
}
.banner-wrap .banner {
	width: 1200px;
	margin: 0 auto;
}
.banner .banner-text {
	margin-right: 80px;
}
.banner-text .banner-pic {
	padding: 80px 0px 18px 100px;
}
.simulation-btn,
.real-btn {
	width: 253px;
	display: inline-block;
	padding: 12px 39px 10px;
	background: #47975c;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.simulation-btn {
	margin-left: 80px;
}
.simulation-btn span,
.real-btn span {
	font-size: 20px;
	display: block;
	text-align: center;
	padding-bottom: 3px;
}
.real-btn {
	background: #dd873c;
	margin-left: 18px;
}
.login-box {
	margin-top: 30px;
	background: rgba(255, 255, 255, 0.2);
	-webkit-border-radius: 5px;
	border-radius: 6px;
	overflow: hidden;
}
.login-box .login-form {
	padding: 10px 40px 45px;
}
.login-top a  {
	color: #dca0a4;
	padding: 20px 16px;
	margin-bottom: 10px;
}
.login-top a.on {
	color: #f2ebef;
}
.login-top a:first-child {
	border-right: 1px solid #d46f74;
}
.login-top a > em{
	display: block;
	font-size: 22px;
}
.login-box .input-wrap {
	margin-bottom: 17px;
}
.login-box .user-icon,
.login-box .psd-icon {
	width: 43px;
	height: 43px;
	background: #c73037;
	padding: 10px 11px;
}
.icon-user {
	background-image: url(../images/sprite.png);
	background-position: -366px -264px;
	width: 20px;
	height: 23px;
	display: inline-block;
}
.login-box .input-wrap .input {
	/* width: 250px; */
	flex: 1;
	/* height: 43px; */
	overflow: hidden;
	padding:10px;
	background: #fff;
}
.input-wrap .input > input {
	width: 100%;
	height: 100%;
	font-size: 16px;
}
.icon-password {
	background-image: url(../images/sprite.png);
	background-position: -370px -226px;
	width: 21px;
	height: 23px;
	display: inline-block;
}
.more-opera,
.more-opera a {
	font-size: 12px;
	color: #e4bdbc;
}
.more-opera a:nth-child(2) {
	margin-right: 30px;
	vertical-align: middle;
}
.login-btn {
	display: block;
	width: 159px;
	height: 44px;
	text-align: center;
	line-height: 44px;
	color: #ffffff;
	background: #d53a3a;
	margin: 37px 0px 11px;
}
.check-box {
	color: #fff;
}
.check-box input[type="checkbox"] {
	display: none;
}
.check-box > em {
	background-color: #ce3438;
	padding:1px 3px;
	margin-right: 3px;
	cursor: pointer;
}
.check-box em > span {
	background: #fff;
} 
.check-box em .icon-check {
	background: url(../images/sprite.png);
	background-position: -405px -345px;
	width: 11px;
	height: 11px;
	display: inline-block;
}
.advantage {
	width: 1200px;
	margin: 0 auto;
	z-index: 10;
}
.person-pic {
	margin-top: -212px;
}
.advantag-right .advantage-list {
	padding-top: 15px;
	padding-left: 20px;
	flex: 1;
}
.advantage-list > li {
	margin-right: 16px;
}
.icon-fast {
	background-image: url(../images/sprite.png);
	background-position: -463px -351px;
	width: 30px;
	height: 35px;
	display: inline-block;
}
.advantage-list .merit {
	-webkit-align-items: center;
	align-items: center;
}
.advantage-list .merit > p {
	font-size: 32px;
	padding-left: 5px;
	color: #616161;
}
.merit-text {
	width: 100%;
	text-align: center;
	color: #616161;
	font-size: 12px;
}
.icon-best {
	background-image: url(../images/sprite.png);
	background-position: -463px -312px;
	width: 32px;
	height: 34px;
	display: inline-block;
}
.consult-link {
	width: 100%;
	padding:8px 0px;
	text-align: center;
	border: 1px solid #616161;
	display: block;
	margin-top: 15px;
}
.consult-link em {
	color: #000;
	font-size: 20px;
	display: block;
}
.consult-link span {
	display: block;
}
.number-list {
	width: 100%;
	height: 122px;
	background-image: url(../images/dot.png);
}
.number-list > ul {
	width: 1200px;
	margin: 0 auto;
	padding: 0px 53px;
}
.number-list > ul li {
	margin: 15px 0 20px;
	padding: 15px 25px;
	font-size: 24px;
	color: #fff;
	text-align: center;
	background: url('../images/line.png') no-repeat;
	background-position: right; 
	position: relative;
}
.number-list > ul li:last-child {
	background: none;
}
.number-data {
	position: relative;
}
.number-data > em{
	width: 0px;
	height: 0px;
	border: 12px solid transparent;
	border-bottom: 18px solid #00aa00;
	display: inline-block;
}
.number-data > span{
	font-size: 20px;
	display: inline-block;
}
.number-list .first-mask {
	position: absolute;
    width: 50px;
    height: 100%;
    left: 3px;
    top: 2px;
    background: url(../images/dot.png);
    box-shadow: 25px 0px 60px 2px #393939;
    z-index: 100
}
.number-list .last-mask {
	position: absolute;
    width: 50px;
    height: 100%;
    right: -7px;
    top: 2px;
    background: url(../images/dot.png);
    box-shadow: -35px 0px 60px 2px #393939;
    z-index: 100
}
.icon-member {
  background-image: url(../images/sprite.png);
  background-position: -463px -391px;
  width: 39px;
  height: 25px;
  display: inline-block;
}
.icon-invest {
  background-image: url(../images/sprite.png);
  background-position: -405px -319px;
  width: 42px;
  height: 21px;
   display: inline-block;
}
.member-wrap {
	width: 100%;
	height: 113px;
	background: #fff;
	position: relative;
}
.member-wrap .member-list {
	width: 840px;
	background-color: #fff;
	position: absolute;
	top: 58px;
	margin-left: -420px;
	left: 50%;
}
.member-list > li {
	width: 50%;
	text-align: center;
	padding-bottom: 34px;
}
.member-list .member-number {
	font-size: 40px;
	color: #616161;
	padding: 6px 0px;
}
.member-list > li span {
	display: block;
	color: #616161;
}
.benefit {
	width: 100%;
	background: #616161;
	overflow: hidden;
}
.benefit-list {
	width: 1200px;
	margin: 150px auto 0px;
}
.benefit-list li {
	width: 50%;
	background: #c02d36;
	border: 1px solid #9b9b9b;
	text-align: center;
	color: #fff;
	padding: 0px 24px;
	margin-right: 27px;
}
.benefit-list li:last-child {
	margin-right: 0px;
}
.icon-advantage1 {
  background-image: url(../images/sprite.png);
  background-position: -312px 0px;
  width: 88px;
  height: 88px;
}
.icon-advantage2 {
  background-image: url(../images/sprite.png);
  background-position: -156px -156px;
  width: 96px;
  height: 90px;
}
.icon-advantage3 {
  background-image: url(../images/sprite.png);
  background-position: -312px -93px;
  width: 85px;
  height: 89px;
}
.benefit-list li > i {
	display: block;
	margin: 23px auto;
}
.benefit-list li > h3 {
	color: #fff3aa;
	font-size: 24px;
	padding-bottom: 5px;
}
.benefit-list li > p {
	padding-top: 28px;
	line-height: 1.6;
}
.register-wrap {
	border: 2px solid #9f9e90;
	border-radius: 3px;
	overflow: hidden;
	width: 530px;
	margin:15px auto 199px;
}
.benefit .register-btn {
	display: block;
	width: 100%;
	padding: 15px 0 18px;
	color: #fff;
	text-align: center;
	background: -webkit-linear-gradient(#fbe69d, #ef8d1a); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#fbe69d, #ef8d1a); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#fbe69d, #ef8d1a); /* Firefox 3.6 - 15 */
	background: linear-gradient(#fbe69d, #ef8d1a); /* 标准的语法 */
	border: 8px solid #f3db6b;

	border-image: -webkit-linear-gradient(#f3da6a,#ef8d1a) 30 30;
    border-image: -moz-linear-gradient(#f3da6a,#ef8d1a) 30 30;
    border-image: linear-gradient(#f3da6a,#ef8d1a) 2 2;
}
.benefit .register-btn > em {
	font-size: 27px;
	color: #fff;
	padding-bottom: 10px;
	display: block;
	text-align: center;
	width: 100%;
}
.quotation {
	width: 100%;
	height: 289px;
	background: #fff;
	position: relative;
}
.quotation .quotation-main {
	width: 1200px;
	position: absolute;
	left: 50%;
	top: -152px;
	margin-left: -512px;
}
.quotation .quotation-main img {
	width: 1024px;
	display: block;
}
.dynamic {
	width: 100%;
	background: #c02d36;
}
.dynamic .dynamic-list {
	width: 1200px;
	margin: 0 auto;
	padding: 90px 0px 90px 22px;
}
.dynamic .dynamic-list >li {
	margin-right: 12px;
	width: 50%;
}
.dynamic-list .dynamic-top {
	padding: 15px 40px 15px 15px;
	width: 270px;
	background: #fff;
	border-bottom: 1px solid #c02d36;
	position: relative;
}
.dynamic-list .dynamic-top:after {
	position: absolute;
	left: 270px;
	top: 0px;
	content:'';
	width: 0px;
	height: 0px;
	border: 30px solid transparent;
	border-left: 15px solid #fff;
	border-bottom: 60px solid #fff;
}
.icon-calendar1 {
  background-image: url(../images/sprite.png);
  background-position: -65px -365px;
  width: 60px;
  height: 57px;
}
.icon-calendar2 {
  background-image: url(../images/sprite.png);
  background-position: 0px -365px;
  width: 60px;
  height: 57px;
}
.dynamic-icon > i {
	display: inline-block;
}
.dynamic-icon {
	margin-right: 19px;
}
.dynamic-title > em {
	font-size: 28px;
	color: #616161;
	padding-bottom: 6px;
	display: block;
}
.dynamic-title > span {
	color: #616161;
} 
.dynamic-content {
	width: 100%;
	height: 433px;
	background: #fff;
	padding: 15px;
	overflow: scroll;
}
.dynamic-content .dynamic-article {
	border: 1px solid #eaeaea;
	padding: 15px 6px;
}
.dynamic-article > h5 {
	color: #c02d36;
	font-size: 16px;
	padding-bottom: 6px;
}
.dynamic-article > p {
	color: #6b6b6b;
	font-size: 12px;
	line-height: 1.6;
	padding-bottom: 5px;
}
.calendar-list 
.calendar-list img {
	width: 100%;
}
.dynamic .service {
	width: 756px;
	margin: 0 auto;
	position: relative;
}
.dynamic .service img {
	width: 100%;
}
.dynamic .service a {
	width: 475px;
	height: 60px;
	position: absolute;
	right: 0px;
	bottom: 10px;
}
.website footer {
	width: 100%;
	background: #3e3e3e;
}
footer .footer-main {
	width: 1200px;
	margin: 0 auto;
}
footer .footer-top {
	padding: 45px 0px 22px;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	border-bottom: 1px solid #616161;
}
.icon-ensure {
  background-image: url(../images/sprite.png);
  background-position: -463px -101px;
  width: 39px;
  height: 38px;
}
.icon-multie {
  background-image: url(../images/sprite.png);
  background-position: -463px -230px;
  width: 39px;
  height: 38px;
}
.icon-person {
  background-image: url(../images/sprite.png);
  background-position: -463px -187px;
  width: 39px;
  height: 38px;
}
.icon-sincerity {
  background-image: url(../images/sprite.png);
  background-position: -463px -58px;
  width: 39px;
  height: 38px;
}
.icon-stable {
  background-image: url(../images/sprite.png);
  background-position: -463px -144px;
  width: 39px;
  height: 38px;
}
.footer-top li  {
	color: #fff;
}
.footer-top li > i {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.footer-top li > span {
	vertical-align: middle;
}
.footer-rule-list {
	justify-content: space-between;
}
.footer-rule-list li {
	color: #d7d7d7;
	padding-right: 34px;
	width: 280px;
}
.footer-rule-list li:nth-child(2) {
	flex: 1;
}
.footer-rule-list li:last-child {
	padding-right: 0px;
	width: 201px;
}
.footer-rule-list .rule-title {
	padding: 29px 0px;
	font-size: 17px;
}
.footer-rule-list li .other-link {
	color: #d7d7d7;
}
.footer-rule-list li> p {
	padding-bottom: 5px;
	line-height: 1.4;
}
.toWeibo {
	color: #d7d7d7;
	font-size: 12px;
	display: block;
}
.toWeibo > i{
	display: inline-block;
}
.icon-weibo {
  background-image: url(../images/sprite.png);
  background-position: -232px -365px;
  width: 22px;
  height: 18px;
}
.informate {
	display: block;
	font-size: 16px;
	margin-top: 27px;
	padding: 16px 8px 16px 16px;
	color: #d7d7d7;
	border: 1px solid #fff;
	text-align: center;
}
.copyright {
	color: #d7d7d7;
	padding-top: 20px;
}