@charset "utf-8";
/* CSS Document */
body{ 
	font-size:14px; 
	background:#fff; 
	font-family:"FZLanTingHei-L-GBK","GothamBook","helvetica","arial","Microsoft Yahei","微软雅黑",sans-serif;
	width:100%; 
	overflow-x:hidden;
	overflow-y: auto;
}
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
body,form,div,span,ul,ol,li,p,pre,dl,dt,dd,h1,h2,h3,h4,h5,h6,
em,a,fieldset,legend,address,label,textarea,select,input,figure,
table,th,td,b,i{
	margin:0;padding:0; 
}

.hy-main input[type=text]:focus,.hy-main input[type=password]:focus,.hy-main textarea:focus{
	 transition:border linear .2s,box-shadow linear .5s;
	 -moz-transition:border linear .2s,-moz-box-shadow linear .5s;
	 -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
	 outline:none;
	 border-color:rgba(140,215,255,.75);
	 box-shadow:0 0 8px rgba(140,215,225,.5);
	 -moz-box-shadow:0 0 8px rgba(140,215,225.5);
	 -webkit-box-shadow:0 0 8px rgba(140,215,225,3);
}
fieldset,img{
	border:0;
}
ul,li{
	list-style:none;
}
em,i{
	font-style:normal;
}
table{
	border-collapse:collapse;border-spacing:0;
}
a{
	text-decoration:none; 
	color:#666;
}
a:hover{
	text-decoration:none;
	color:#f00f12;
}
a:focus,input,button,select,textarea{
	outline:none;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%; 
 	font-variant: normal;
 	font-weight: normal;
}
p {
	font-weight: normal;
}
input,select,img{ 
	vertical-align:middle;
}
legend{ 
	display:none;
}
textarea{
	resize:none;
}


.clear{ 
	clear:both;
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	clear:both; 
	content:"";
	display:block;
	height:0;
	line-height:0;
	visibility:hidden;
}

.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mr10{ margin-right:10px;}
.pt10{ padding-top:10px;}
.fl{ float:left;}
.fr{ float:right;}
.tr{ text-align:right;}
.tl{ text-align: left;}
.ov{ overflow:hidden;}
.rel{ position:relative;}
.tc{ text-align:center;}
.none{ display:none;}
.block{ display:block;}
.redColor {
	color: #cd2c24;
}
.nav-bar .redColor{
	color: #cd2c24;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ddd;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ddd;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #e5e5e5;
    font-size: 21px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #e5e5e5;
    font-size: 21px;
}
.w1200 {
	width: 1200px;
	margin: 0 auto;
}
.shadow-bottom {
	-moz-box-shadow: 0px 5px 6px #e5e5e5; 
	-webkit-box-shadow: 0px 5px 6px #e5e5e5; 
	box-shadow: 0px 5px 6px #e5e5e5; 
}
.header-on {
	color: #cd2c24;
}
.m-auto {
	margin: 0 auto;
}
.m-r-5 {
	margin-right: 45px;
}

/*首页*/
.wrap1000 {
	width: 100%;
}
.header {
	width: 100%;
	min-width: 1200px;
	position: relative;
	margin: 0 auto;
}
.header-content {
	height: 110px;
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.logo {
	width: 235px;
	height: 64px;
	margin-top: 20px;
	background: url(../images/logo.png) no-repeat;
	background-size: contain;
}
.logo a {
	display: block;
	width: 100%;
	height: 100%;
}
.nav-bar {
	width: 960px;
	padding-left: 30px;
	margin: 0 auto;
}
.nav-bar ul {
	width: 100%;
}

.nav-bar li {
	float: left;
	width: 140px;
	padding-left: 20px;
	z-index: 10;
}
.nav-bar li:last-child {
	padding-left: 20px;
}
.nav-bar li > a  {
	display: block;
	width: 130px;
	height: 60px;
	position: relative;
	color: #333;
	font-size: 20px;
	line-height: 60px;
	text-align: center;
	margin-top: 25px;
}
.nav-bar .on {
	background: #fff;
	color: #cd2c24;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow:  2px 2px 6px 3px #e5e5e5; 
	-webkit-box-shadow:  2px 2px 6px 3px #e5e5e5; 
	box-shadow:  2px 2px 6px 3px #e5e5e5; 
}
.about-link,
.product-link,
.college-link,
.info-link {
	position: relative;
}
.about-list,
.college-list,
.info-list,
.product-list {
	display: none;
	position: absolute;
	left: -2px;
	width: 180px;
	height: auto;
	overflow:hidden;
	/*-moz-box-shadow: 1px 1px 2px 3px #eee; 
	-webkit-box-shadow: 1px 1px 2px 3px #eee;
	box-shadow: 1px 1px 2px 3px #eee;*/
	z-index: 1000;
}
.about-list:before,
.product-list:before,
.college-list:before,
.info-list:before {
	content: '';
	position: absolute;
	left: 76px;
	top: -6px;
	width: 0px;
	height: 0px;
	border: 14px solid transparent;
	border-left-width: 12px;
	border-right-width: 12px;
	border-bottom: 20px solid rgba(215,86,80,1);

}
.list-icon,
.product-icon,
.college-icon,
.info-icon  {
	float: left;
	width: 176px;
	height: 180px;
	border-right: 2px solid #e5e5e5;
}
.list-icon img {
	display: block;
	width: 76px;
	height: 66px;
	margin: 0 auto;
	margin-top: 54px;
}
.list-content,
.college-content,
.info-content,
.product-content  {
	width: 100%;
	background: rgba(205,44,36,0.8);
	margin-top: 28px;
}
.list-content  a,
.product-content a,
.college-content a,
.info-content a {
	display: block;
	width: 100%;
	height: 55px;
	line-height: 55px;
	text-align: center;
	font-size: 18px;
	color: #fff;
}
.product-icon img{
	display: block;
	width: 93px;
	height: 80px;
	margin: 0 auto;
	margin-top: 55px;
}
.college-icon img {
	display: block;
	width: 88px;
	height: 67px;
	margin: 0 auto;
	margin-top: 63px;
}
.info-icon img {
	display: block;
	width: 88px;
	height: 80px;
	margin: 0 auto;
	margin-top: 50px;
}
.about-list a:hover,
.product-list a:hover,
.college-list a:hover,
.info-list a:hover {
	background: #cd2c24;
	opacity: 1;
}
.account {
	position: absolute;
	right: 95px;
	top: 30px;
}
.account .account-btn {
	display: block;
	width: 110px;
	height: 54px;
	border: 2px solid #cc2e37;
	color: #cc2e37;
	line-height: 54px;
	text-align: center;
	-webkit-border-radius: 6px;
	-ms-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-size: 20px;
}
.language {
	position: absolute;
	font-size: 18px;
	right: 2px;
	bottom: 23px;
}
.broadcast ,
.flexslider {
	width: 100%;
	margin: 0 auto;
	height: 500px;
	overflow: hidden;
	position: relative;
}
.main {
	margin: 0 auto;
	overflow: hidden;
}
.main,.quotation,
.download,.information{
	margin: 0 auto;
}
.download {
	width: 1200px;
	margin: 50px auto;
}
.main h2 {
	width: 100%;
	text-align: center;
	font-size: 36px;
	color: #cc2e37;
}
.download-pic {
	width: 48%;
	height: auto;
}
.download-pic img {
	width: 100%;
}
.download-main {
	margin-top: 50px;
}
.download-text {
	width: 48%;
	margin-top: 46px;
}
.download-text > p {
	text-indent: 2em;
	color: #333;
	font-size: 18px;
	line-height: 2;
}
.download-link {
	display: block;
	margin: 50px auto;
	width: 285px;
	height: 65px;
	border: 2px solid #cd2c24;
	color: #ce3840;
	font-size: 22px;
	text-align: center;
	line-height: 65px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.information {
	margin-top: 60px;
	margin-bottom: 120px;
	width: 1200px;
}
.info-main {
	margin-top: 60px;
}
.calendar {
	width: 46%;
}
.calendar-title {
	width: 100%;
	position: relative;
}
.calendar-title .more ,
.hot-info-title .more {
	color: #999;
	font-size: 18px;
	position: absolute;
	right: 36px;
	top: 10px;
}
.calendar-title .more::after,
.hot-info-title .more::after {
	position: absolute;
	content: '>>';
	top: 5px;
	left: 45px;
}
.calendar-title > h3,
.hot-info-title > h3 {
	color: #1e559f;
	font-size: 24px;
}
.calendar-detail {
	margin-top: 38px;
}
.calendar-detail li {
	float: left;
	width: 20%;
	padding-bottom: 10px;
	cursor: pointer;
}
.calendar-detail li > span {
	color: #999;
	width: 100%;
	display: block;
	text-align: center; 
	font-size: 16px;
}
.calendar-detail .calendar-active {
	border-bottom: 2px solid #cc2e37;
}
.calendar-detail .calendar-active span {
	color: #cc2e37;
}
.info-detail {
	width: 100%;
}
.info-detail li {
	padding: 20px 0;
	color: #333;
	border-bottom: 1px solid #d2d2d2;
	padding-left: 28px;
}
.circular {
	width: 70px;
	height: 70px;
	border: 1px solid #999;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: relative;
}
.circular > span {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	background: #cd2c24;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.info-time {
	padding: 0 45px;
	font-size: 18px;
}
.info-data {
	font-size: 18px;
}
.info-data > p {
	padding-bottom: 26px;
}
.info-data .forecast {
	margin-right: 75px;
}
.hot-info {
	width: 48%;
}
.hot-info-title {
	width: 100%;
	position: relative;
}
.hot-info-main {
	margin-top: 20px;
}
.hot-info-main li {
	position: relative;
	padding: 20px 0 20px 18px;
	border-bottom: 1px solid #d2d2d2;
}
.hot-info-pic {
	width: 150px;
	height: 105px;
	overflow: hidden;
}
.hot-info-pic img {
	width: 100%;
}
.hot-info-detail {
	width: 68%;
	color: #333;
	font-size: 19px;
}
.hot-info-detail > p {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.hot-info-detail span {
	color: #999;
	font-size: 18px;
	right: 25px;
	bottom: 30px;
	position: absolute;
}
.footer {
	background: -moz-linear-gradient(89deg,#1e559f 0%, #3583c8 100%),-moz-linear-gradient(#002e40, #002e40);
	background: -webkit-linear-gradient(89deg,#1e559f 0%, #3583c8 100%),-webkit-linear-gradient(#002e40, #002e40);
	background: linear-gradient(89deg,#1e559f 0%, #3583c8 100%),linear-gradient(#002e40, #002e40);
	margin:  0 auto;
	margin-bottom: 3px;
	width: 100%;
	min-width: 1200px;
}
.footer-inline {
	width: 1200px;
	margin: 0 auto;
	padding-top: 40px;
	/*padding: 40px 0 0 100px;*/
}
.footer-inline h4 {
	color: #fff;
	font-size: 22px;
}
.tip {
	width: 45%;
	padding-left: 60px;
	position: relative;
	margin-right: 75px;
}
.tip-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../images/tip.png) no-repeat;
	background-size: contain;
	position: absolute;
	left: 13px;
	top: 1px;  
}
.customer-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../images/customer.png) no-repeat;
	background-size: contain;
	position: absolute;
	left: 13px;
	top: 6px;  
}
.connect-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../images/connect.png) no-repeat;
	background-size: contain;
	position: absolute;
	left: 13px;
	top: 6px;  
}
.tip > p {
	margin-top: 10px;
	color: #fff;
	font-size: 15px;
	line-height: 2;
}
.notes {
	margin-right: 125px;
	padding-left: 60px;
	position: relative;
}
.notes ul,
.contact ul {
	margin-top: 30px;
}
.notes li a {
	display: block;
	color: #fff;
	font-size: 15px;
	padding-bottom: 20px;
}
.contact li {
	color: #fff;
	font-size: 15px;
	padding-bottom: 20px;
	width: 220px;
}
.contact {
	padding-left: 60px;
	position: relative;
}
.quotation {
	width: 1200px;
}
.quotation h2 {
	margin-top: 50px;
	margin-bottom: 30px;
}
.quotation-type {
	width: 100%;
	border-bottom: 1px solid #d2d2d2;
}
.quotation-type li {
	float: left;
	width: 20%;
	font-size: 20px;
	color: #999;
	height: 66px;
	line-height: 66px;
	text-align: center;
	cursor: pointer;
}
.quotation-type .active {
	color: #1e559f;
	position: relative;
}
.quotation-type .active::after {
	left: 0;
	bottom: 0;
	content: '';
	width: 100%;
	position: absolute;
	background: #1e559f;
	height: 2px;
}
.data-range {
	margin-left: 45px;
    margin-right: 50px;
    margin-top: 40px;
}
.data-range li {
	width: 100%;
	padding-bottom: 80px;
}
.data-range li span {
	color: #999;
	font-size: 20px;
	vertical-align: middle;
}
.data-range li em {
	color: #22ac38;
	font-size: 22px;
	position: relative;
	vertical-align: middle;
}
.data-range .arrow {
	display: inline-block;
	width: 0px;
	height: 0px;
	-webkit-border-bottom-color: 20px solid #22ac38;
	vertical-align: text-bottom;
	margin-left: 5px;
	border: 10px solid transparent;
	border-bottom: 15px solid #22ac38;
}

#charts {
	width: 600px;
    height: 400px;
}

#circle {
	 width: 280px;
	 height: 400px;
}
.chart-wrap {
	width: 100%;
}
.marquee {
	width: 100%;
	height: 40px;
	background: #f8f1dd;
	position: relative;
}
.marquee li {
	font-size: 18px;
	line-height: 40px;
	display: inline-block;
	margin-left: 10px;
}
.colorB {
	color: #2a5769;
}
.colorG {
	color: #22ac38;
}
.colorR {
	color: #cd2c24;
}
@media screen and (max-width: 1024px) {
	.wrap1000 {
		width: 1200px;
	}
}

/*关于我们*/
.about-us {
	padding-top: 92px;
}
.left-colum {
	float: left;
}
.colum-lists {
	border-top: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}
.colum-lists li,
.download-list li {
	width: 210px;
	height: 65px;
	line-height: 65px;
	text-align: right;
	border-bottom: 1px solid #e5e5e5;
}
.colum-lists li>a,
.download-list li a {
	color: #333;
	font-size: 18px;
	width: 100%;
	display: block;
	padding-right: 50px;
}
.colum-lists .active {
	position: relative;
}
.colum-lists .active a {
	color: #cd2c24;
}
.colum-lists .active:after {
	content: '';
	position: absolute;
	right: 0px;
	top: 0;
	width: 5px; 
	height: 100%;
	background: #cd2c24;
}
.download-list {
	margin-top: 30px;
	border-right: 1px solid #e5e5e5;
}
.download-list li:first-child {
	height: 60px;
	line-height: 60px;
	background: -webkit-linear-gradient(-90deg, #cd2c24 0%, #f2836b 100%);
	background: -moz-linear-gradient(-90deg, #cd2c24 0%, #f2836b 100%);
	background: linear-gradient(-90deg, #cd2c24 0%, #f2836b 100%); 
}
.download-list li:first-child > a {
	color: #fff;
}
.down-arrow {
	position: relative;
}
.down-arrow:before,
.down-arrow:after {
	position: absolute;
	content: '';
	left: 55px;
	top: 25px;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	border: 2px solid #bfbfbf;
	border-left: none;
	border-top: none;
}
.down-arrow:after {
	left: 55px;
	top: 33px;
}

.content {
	float: right;
	width: 900px;
	position: relative;
}
.content h2 {
	font-size: 30px;
	color: #333;
	padding-top: 50px;
	padding-bottom: 30px;
	border-bottom: 2px solid #e5e5e5;
}
.company-pic {
	width: 240px;
	height: 180px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
	overflow: hidden;
}
.company-pic img {
	width: 100%;
	display: block; 
}
.content-word  {
	margin-bottom: 277px;
}
.content-word p {
	font-size: 16px;
	line-height: 2.4;
	text-indent: 2em;
}
.content-banner {
	width: 100%;
	height: 285px;
	overflow: hidden;
}
.content-banner img {
	display: block;
	width: 100%;
}
.dynamic-list {
	width: 100%;
}
.dynamic-list li {
	width: 100%;
	padding-left: 10px;
	border-top: 1px solid #e5e5e5; 
	border-bottom: 1px solid #e5e5e5; 
}
.dynamic-list li:first-child {
	border-top: 0px; 
}
.dynamic-list li:last-child {
	border-bottom: 2px solid #e5e5e5; 
}
.dynamic-link {
	float: left;
	display: block;
	height: 70px;
	line-height: 70px;
	font-size: 16px;
	color: #333;
}
.dynamic-time {
	float: right;
	display: block;
	height: 80px;
	line-height: 80px;
	font-size: 14px;
	color: #999
}
.news-top .dynamic-link {
	position: relative;
	padding-left: 70px;
	height: 80px;
}
.news-top .dynamic-link:after {
	position: absolute;
	display: block;
	left: 10px;
	top: 26px;
	content: 'TOP';
	width: 42px;
	height: 26px;
	line-height: 26px;
	border: 2px solid #cd2c24;
	font-size: 14px;
	color: #cd2c24;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.connect-way {
	width: 100%;
	margin-bottom: 228px;
}
.connect-way h5 {
	color: #333;
	font-size: 16px;
	padding: 50px 30px;
	padding-left: 39px;
}
.connect {
	width: 100%;
}
.connect li {
	float: left;
	margin-right: 90px;
	width: 240px;
	height: 240px;
	background: #f8f8f8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.connect li:last-child {
	margin-right: 0;
}
.email-logo,
.phone-logo,
.server-logo {
	width: 100px;
	height: 99px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 40px;
}
.phone-logo {
	width: 98px;
	height: 99px;
}
.server-logo {
	width: 88px;
	height: 99px;
}
.email-logo img,
.phone-logo img,
.server-logo img {
	display: block;
	width: 100%;
}
.connect p {
	color: #333;
	font-size: 24px;
	width: 100%;
	text-align: center;
	padding-top: 22px;
}
.connect span {
	display: block;
	width: 100%;
	color: #999;
	font-size: 18px;
	text-align: center;
	padding-top: 12px;
}
.page-wrap {
	width: 100%;
	height: 25px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 113px;
	line-height: 25px;
}
.font-arrow,
.back-arrow {
	position: relative;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.font-arrow:before,
.font-arrow:after{
	content: '';
	position: absolute;
	left: 0;
	top: 16px;
	width: 10px;
	height: 10px;
	transform: rotate(135deg);
	border: 2px solid #1e559f;
	border-left: none;
	border-top: none;
}
.font-arrow:after {
	left: 10px;
}

.back-arrow:before,
.back-arrow:after{
	content: '';
	position: absolute;
	right: 0;
	top: 16px;
	width: 10px;
	height: 10px;
	transform: rotate(-45deg);
	border: 2px solid #1e559f;
	border-left: none;
	border-top: none;
}
.back-arrow:after {
	right: 10px;
}

.page-wrap .page {
	font-size: 20px;
	margin: 0 10px;
	color: #1e559f;
}
.page-wrap .on {
	color: #cd2c24;
}

/*行情图表*/
.data-main {
	padding-top: 95px;
}
.skill-list {
	width: 100%;
	margin-bottom: 83px;
}
.skill-content {
	padding: 32px 0 32px 20px;
	border-top: 1px solid #e5e5e5; 
	border-bottom: 1px solid #e5e5e5; 
}
.skill-list li:first-child {
	border-top: 0px; 
}
.skill-list li:last-child {
	border-bottom: 2px solid #e5e5e5; 
}
.skill-pic {
	float: left;
	width: 160px;
	height: 110px;
	overflow: hidden;
}
.skill-pic img {
	width: 100%;
	display: block;
}
.skill-word {
	float: right;
	width: 690px;
}
.skill-word h5 {
	width: 100%;
	font-size: 18px;
	color: #333;
	padding-bottom: 10px;
}
.skill-word p {
	width: 100%;
	font-size: 14px;
	color: #999;
	text-indent: 2em;
	line-height: 1.6;
	
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;

}
.blank-block {
	width: 890px;
	height: 260px;
	margin-bottom: 60px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 20px 5px #e5e5e5; 
	box-shadow: 0px 0px 20px 5px #e5e5e5; 
}
.blank-list div:first-child {
	margin-top: 40px;
}
.content .p-t-0 {
	padding-top: 0px;
}
.real-time {
	padding-top: 30px;
	padding-bottom: 40px;
}
.real-time h4,
.offer h4,
.compare h4 {
	width: 210px;
	height: 61px;
	background: url(../images/lignhtArrow.png) no-repeat;
	background-size: contain;
	color: #fff;
	font-size: 24px;
	padding-left: 39px;
	line-height: 61px;
	margin-bottom: 35px;
}
.real-nav {
	height: 100%;
	border-bottom: 2px solid #d2d2d2;
}
.real-nav li {
	float: left;
	width: 180px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	color: #999;
	font-size: 20px;
	cursor: pointer;
}
.real-nav .on {
	position: relative;
	color: #002e40;
}
.real-nav .on:after {
	position: absolute;
	left: 0;
	bottom: -1px;
	content: '';
	width: 100%;
	height: 5px;
	background: #002e40;
}
.real-chart {
	width: 950px;
	height: 400px;
}
.offer h4 {
	padding-left: 55px;
}
.offer-item em {
	float: left;
	color: #333;
	font-size: 20px;
	margin-right: 30px;
	width: 79px;
	text-align: center;
	margin-top: 5px;
}
.offer-detail {
	float: left;
	padding-bottom: 22px;
}
.offer-detail  .o-d-text {
	font-size: 20px;
	color: #999;
	padding-right: 10px;
}
.o-d-number {
	font-size: 28px;
	color: #22ac38;
	position: relative;
	padding-right: 40px;
}
.o-d-number:after {
	position: absolute;
	right: 0px;
	top: -12px;
	content: '';
	width: 0px;
	height: 0px;
	border: 16px solid #22ac38;
	border-left-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-width: 26px;
}
.compare h4 {
	width: 265px;
	padding-left: 40px;
	background: url(../images/middle-arrow.png) no-repeat;
}
.compare {
	position: relative;
	padding-top: 40px;
	padding-bottom: 112px;
}
.compare-name {
	float: left;
	width: 79px;
	font-size: 20px;
	text-align: center;
	margin-right: 30px;
}
.progress {
	width: 680px;
	height: 40px;
	float: left;
}
.compare-list li {
	margin-bottom: 30px;
}
.compare-list span {
	height: 100%;
	float: left;
	display: block;
}
.see-more {
	background: #cd2c24;
}
.bearish {
	background: #22ac38;
}
.tag-icon {
	position: absolute;
	right: -10px;
	top: 133px;
}
.tag-icon em {
	font-size: 18px;
	color: #666;
	display: block;
	width: 90px;
	padding-left: 36px;
	position: relative;
}
.tag-icon .red {
	margin-bottom: 40px;
}
.tag-icon .green {
	
}
.tag-icon em:before {
	position: absolute;
	content: '';
	width: 24px;
	height: 24px;
	background: #cd2c24;
	left: 2px;
	top: 2px;
}
.tag-icon .green:before {
	background: #22ac38;
}

/*热门资讯*/
.m-b-17 {
	margin-bottom: 175px;
}
.skill-word .text-indent {
	text-indent: 2em;
}
.skill-word .info-title {
	font-size: 18px;
}
.info-item {
	padding: 30px 0 30px 20px;
	position: relative;
}
.read-all {
	font-size: 16px;
	color: #cd2c24;
	position: absolute;
	right: 10px;
	bottom: 50px;
}
.article-time {
	position: absolute;
	font-size: 16px;
	color: #999;
	left: 206px;
	bottom: 40px;
}
.expert {
	/*width: 100%;*/
	padding-top: 30px;
	overflow: hidden;
}
.expert h4,
.comment h4,
.clause-content h4 {
	width: 210px;
	height: 61px;
	background: url(../images/lignhtArrow.png) no-repeat;
	background-size: contain;
	color: #fff;
	font-size: 20px;
	padding-left: 39px;
	line-height: 61px;
	margin-bottom: 10px;
}
.expert-wraper {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 59px;
	position: relative;
	height: 330px;
}
.expert-list {
	padding-left: 10px;
	position: absolute;
	height: 100%;
	left: 25px;
	top: 0px;
}
.expert-detail {
	float: left;
	margin-right: 35px;
	width: 230px;
	height: 290px;
	background: #fff;
	border: 1px solid #fff;
	box-shadow: 0px 0px 12px 3px #e5e5e5; 
}
.expert-detail:last-child {
	margin-right: 0px;
}
.expert-pic {
	width: 120px;
	height: 120px;
	margin: 24px auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #ccc;
}
.expert-name {
	display: block;
	font-size: 20px;
	color: #333;
	text-align: center;
	width: 100%;
	padding-bottom: 27px;
}
.expert-call {
	display: block;
	font-size: 16px;
	color: #999;
	text-align: center;
	width: 100%;
}
.isActive {
	width: 300px;
	height: 360px;
	margin-top: -40px;
}
.isActive .expert-pic {
	width: 150px;
	height: 150px;
	margin: 30px auto;
}
.expert-pre-btn {
	position: absolute;
	left: 10px;
	top: 130px;
	z-index: 1000;
}
.expert-pre-btn:before {
	position: absolute;
	content: "";
	width: 24px;
	height: 24px;
	transform: rotate(135deg);
	border: 3px solid #e5e5e5;
	border-left: none;
	border-top: none;
}
.expert-next-btn {
	position: absolute;
	right: 32px;
	top: 130px;
	z-index: 1000;
}
.expert-next-btn:after {
	position: absolute;
	content: "";
	width: 24px;
	height: 24px;
	transform: rotate(-45deg);
	border: 3px solid #e5e5e5;
	border-left: none;
	border-top: none;
}


.comment {
	width: 100%;
}
.comment li {
	height: 65px;
	width: 100%;
	line-height: 65px;
	border-bottom: 2px solid #e5e5e5;
}
.comment li>a {
	float: left;
	font-size: 16px;
	color: #333;
}
.comment .time {
	float: right;
	color: #999;
	font-size: 14px;
}
.calendar-container {
	width: 100%;
	position: relative;
	height: 100px;
	overflow: hidden;
}
.calendar-container ul {
	width: 870px;
	position: absolute;
	left: 15px;
}
.button-prev {
	position: absolute;
	left: 10px;
	top: 35px;
	z-index: 1000;
}
.button-prev:before {
	position: absolute;
	content: "";
	width: 21px;
	height: 21px;
	transform: rotate(135deg);
	border: 3px solid #e5e5e5;
	border-left: none;
	border-top: none;
}
.button-next {
	position: absolute;
	right: 30px;
	top: 35px;
	z-index: 1000;
}
.button-next:after {
	position: absolute;
	content: "";
	width: 23px;
	height: 23px;
	transform: rotate(-45deg);
	border: 3px solid #e5e5e5;
	border-left: none;
	border-top: none;
}
.finance-date {
	float: left;
	width: 145px;
	padding-top: 20px;
	cursor: pointer; 
}
.finance-day,
.finance-week {
	display: block;
	color: #999;
	font-size: 18px;
	text-align: center; 
}
.finance-week  {
	margin-bottom: 15px;
}
.calendar-container .on {
	border-bottom: 4px solid #cc2e37;
}
.calendar-container .on .finance-day,
.calendar-container .on .finance-week {
	color: #cc2e37;
}
.finance-main {
	padding-top: 60px;
	width: 100%;
	position: relative;
	margin-bottom: 740px;
}
.finance-main li {
	height: 78px;
	line-height: 78px;
	border-bottom: 2px solid #e5e5e5;
}
.finance-icon {
	float: left;
	width: 60px;
	height: 40px;
	overflow: hidden;
	margin-top: 20px;
}
.finance-icon img {
	width: 100%;
	display: block;
}
.finance-time {
	float: left;
	padding-left: 20px;
	padding-right: 40px;
	color: #3d7f99;
	font-size: 22px;
}
.finance-text {
	float: left;
	color: #3d7f99;
	font-size: 18px;
	padding-right: 105px;
}
.finance-star {
	float: left;
	margin-top: 28px;
}
.finance-star span {
	float: left;
	width: 20px;
	height: 18px;
	background: url(../images/empty-star.png) no-repeat;
	background-size: contain;
	margin-right: 5px;
}
.finance-star .on {
	background: url(../images/star.png) no-repeat;
}
.finance-val,
.publish-val{
	float: left;
	font-size: 18px;
	color: #333;
}
.finance-val {
	padding-left: 40px;
	padding-right: 95px;
}
.parame {
	position: absolute;
	right: 35px;
	top: 20px;
}
.parame span {
	font-size: 18px;
	color: #666;
	padding-right: 60px;
}
.parame span:last-child {
	padding-right: 0px;
}

/*客户中心*/
.question li {
	padding: 40px 0 32px 20px;
	border-bottom: 2px solid #e5e5e5;
}
.problem {
	font-size: 30px;
	color: #cd2c24;
	padding-bottom: 27px;
}
.answer {
	font-size: 26px;
	color: #999;
}
.clause-btn {
	margin-top: 30px;
	margin-left: 19px;
}
.clause-content h4 {
	margin-bottom: 40px;
}
.clause-content .pay-icon {
	background: url(../images/lignhtArrow.png) no-repeat;
}
.clause-btn li {
	float: left;
	padding: 16px 22px;
	color: #bfbfbf;
	font-size: 18px;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-right: 40px;
	border: 2px solid #bfbfbf;
	cursor: pointer;
}
.clause-btn .on {
	color: #cd2c24;
	border: 2px solid #cd2c24;
}
.clause-content {
	margin-top: 50px;
	margin-bottom: 122px;
}
.clause-content h6 {
	font-size: 16px;
	text-indent: 2em;
	color: #333;
	font-weight: 700;
	margin-top: 40px;
	margin-bottom: 10px;
}
.clause-content p {
	font-size: 14px;
	color: #333;
	text-indent: 2em;
	line-height: 2;
}
.clause-content h5 {
	font-size: 18px;
	padding: 10px 0;
}

/*开立账户*/
.account-wrap {
	padding-top: 78px;
}
.account-pic {
	width: 216px;
	height: 245px;
	margin-bottom: 40px;
	overflow: hidden;
}
.account-pic img {
	width: 100%;
	display: block;
}
.account-info {
	margin: 0 auto;
	width: 743px;
	margin-bottom: 40px;
	font-size: 0;
}
.account-info span {
	font-size: 26px;
	color: #666;
	margin-right: 30px;
	vertical-align: middle;
}
.account-info >input {
	width: 660px;
	height: 50px;
	border: 1px solid #999;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 22px;
	padding-left: 22px;
}
.account-phone {
	width: 743px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 0;
	
}
.account-phone span,
.account-identity span,
.account-card span {
	font-size: 26px;
	color: #666;
	margin-right: 30px;
	vertical-align: middle;
}
.account-identity span,
.account-card span {
	vertical-align: top;
}
.account-phone > select,
.account-phone > input  {
	width: 130px;
	height: 50px;
	border: 1px solid #999;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 22px;
}
.account-phone > input {
	padding-left: 22px;
}
.account-phone > input {
	width: 500px;
	height: 50px;
	margin-left: 30px;
	padding-left: 22px;
}
.account-code {
	width: 786px;
}
.account-identity {
	width: 940px;
	margin: 0 auto;
	margin-bottom: 40px;
	font-size: 0;
}
.identity-front,
.card-font {
	display: inline-block;
	width: 660px;
	height: 300px;
	position: relative;
	border: 1px solid #999;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.identity-front:before,
.card-font:before {
	position: absolute;
	content: '';
	width: 60px;
	height: 6px;
	background: #eee;
	top: 115px;
	left: 298px;
}
.identity-front:after,
.card-font:after {
	position: absolute;
	content: '';
	width: 6px;
	height: 60px;
	background: #eee;
	top: 90px;
	left: 323px;
}
.identity-front p,
.account-card p {
	font-size: 24px;
	color: #eee;
	width: 100%;
	margin: 0 auto;
	margin-top: 183px;
	text-align: center;
}
.file-f-btn,
.card-f-btn {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.account-card {
	width: 898px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.account-regulations {
	font-size: 0;
	margin: 0 auto;
	width: 630px;
	/*margin-left: 370px;*/
}
.check-box {
	width: 20px;
	height: 20px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #d2d2d2;
	margin-right: 10px;
}
.regulations-detail {
	display: inline-block;
	color: #cd2c24;
	vertical-align: middle;
	font-size: 20px;
}
.regulations-detail a {
	font-size: 20px;
	color: #3497bf
}
.submit-btn button {
	display: block;
	width: 400px;
	height: 60px;
	background-color: #cd2c24;
	border: none;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-size: 26px;
	color: #fff;
	text-align: center;
	line-height: 60px;
	margin: 40px auto 90px;
	cursor: pointer;
}
.identity-img {
	width: 300px;
	height: 300px;
}
.extract {
	width: 100%;
	margin-bottom: 176px;
}
.extract-btn {
	width: 100%;
	margin-top: 59px;
	margin-bottom: 40px;
}
.extract-btn a {
	display: block;
	margin: 0 auto;
	width: 340px;
	height: 80px;
	font-size: 24px;
	color: #cd2c24;
	line-height: 80px;
	padding-left: 68px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: solid 2px #cd2c24;
	position: relative;
}
.extract-btn a:before{
	position: absolute;
	background: url(../images/file.png) no-repeat;
	background-size: contain;
	width: 34px;
	height: 44px;
	content: '';
	left: 20px;
	top: 18px;
}
.extract p {
	font-size: 14px;
	color: #333333;
	margin-bottom: 20px;
	padding-left: 40px;
	width: 100%;
}
.pay-btn li {
	padding: 16px 22px;
}
.dispute {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 168px;
}
.dispute-item {
	margin-bottom: 40px;
}
.dispute-item h4 {
	width: 210px;
	height: 61px;
	background: url(../images/lignhtArrow.png) no-repeat;
	background-size: contain;
	color: #fff;
	font-size: 20px;
	margin-bottom: 30px;
	line-height: 61px;
	padding-left: 39px;
}
.dispute-item .small {
		background: url(../images/smallArrow.png) no-repeat;
}
.dispute-item p {
	font-size: 14px;
	text-indent: 2em;
	line-height: 40px;
	color: #333;
}
.dispute-item .red {
	color: #cd2c24;
}
.step {
	width: 100%;
	padding: 30px 0;
}
.step-item {
	float: left;
	width: 230px;
	height: 120px;
	background: #fff;
	position: relative;
}
.step-item:last-child {
	width: 190px;
}
.step-item:after {
	position: absolute;
	right: 0px;
	top: 37px;
	content: '';
	width: 0;
	height: 0;
	border: 16px solid #cd2c24;
	border-left-width: 14px;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
.step-item:last-child:after {
	display: none;
}
.step-item span {
	display: block;
	background: #eee;
	width: 190px;
	height: 120px;
	font-size: 18px;
	line-height: 1.6;
	color: #333;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.step-item .lh {
	line-height: 120px;
	text-align: center;
}
.step-item .sec {
	padding: 0 21px;
}
.step-item  .four {
	padding: 16px 32px 0;
}
.step li:after {
	position: absolute;
}
.guide {
	width: 100%;
	padding-bottom: 122px;
}
.guide-step {
	padding-top: 30px;
}
.guide-step p {
	font-size: 14px;
	color: #333;
	padding-bottom: 30px;
}
.guide-step .red {
	color: #cd2c24;
}
.guide-pic {
	width: 850px;
	height: 430px;
	margin: 0 auto;
	background: #eee;
}
.guide-detail p{
	padding-bottom: 20px;
}
.t-ident {
	text-indent: 2em;
}
.guide-detail .remarks {
	font-size: 16px;
	color: #cd2c24;
	text-indent: 2em;
	line-height: 2;
}
.teach-btn {
	width: 100%;
	padding: 30px 0 50px;
}
.teach-btn li {
	float: left;
	margin-right: 40px;
	width: 140px;
	height: 60px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;border-radius: 8px;
	border-radius: 8px;
	border: solid 2px #999;
	text-align: center;
	line-height: 60px;
	color: #999;
	cursor: pointer;
	font-size: 20px;
}
.teach-btn .on,
.theory .on {
	color: #cd2c24;
	border: 2px solid #cd2c24;
}
.theory {
	width: 100%;
	padding: 30px 0px;
}
.theory li {
	float: left;
	padding: 15px 25px;
	margin-right: 40px;
	margin-bottom: 20px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;border-radius: 8px;
	border-radius: 8px;
	border: solid 2px #999;
	color: #999;
	cursor: pointer;
	font-size: 18px;
}
.teaching-content {
	width: 100%;
}
.teaching-item {
	padding-bottom: 30px;
}
.teaching-item h4 {
	width: 210px;
	height: 61px;
	background: url(../images/lignhtArrow.png) no-repeat;
	background-size: contain;
	padding-left: 40px;
	color: #fff;
	line-height: 61px;
	font-size: 20px;
	margin-bottom: 30px;
}
.teaching-item .large {
	width: 300px;
	background: url(../images/middle-arrow.png) no-repeat;
}
.teaching-item .max {
	width: 300px;
	background: url(../images/large-arrow.png) no-repeat;
}
.teaching-item p {
	color: #333;
	font-size: 14px;
	line-height: 2.2;
	text-indent: 2em;
}
.teaching-item  h6 {
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.teaching-item  h5 {
	font-size: 18px;
	padding: 10px 0;
}
.publicity-pic {
	width: 100%;
	padding:10px 0;
}
.publicity-pic img {
	display: block;
	margin: 0 auto;
}
.advantage {
	width: 100%;
	padding-bottom: 140px;
}
.advantage-item  {
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: 2px solid #e5e5e5;
}
.advantage-pic {
	float: left;
	width: 276px;
	height: 100%;
}
.advantage-pic img {
	display: block;
	width: 98px;
	height: 120px;
	margin-top: 15px;
	margin-left: 62px;
}
.advantage-pic .car {
	width: 125px;
	height: 84px;
}
.advantage-pic .business {
	width: 109px;
	height: 110px;
}
.advantage-pic .gold {
	width: 103px;
	height: 94px;
}
.advantage-content {
	float: left;
}
.advantage-content h4 {
	font-size: 20px;
	color: #1e559f;
	padding-bottom: 20px;
	margin-bottom: 20px;
	width: 110px;
	border-bottom: 2px solid #e5e5e5;
}
.advantage-content p {
	font-size: 16px;
	padding-bottom: 10px;
}
.trade-btn {
	width: 100%;
	padding: 30px 0 50px;
}
.trade-btn li {
	float: left;
	margin-right: 20px;
	padding: 16px 22px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;border-radius: 8px;
	border-radius: 8px;
	border: solid 2px #999;
	color: #999;
	cursor: pointer;
	font-size: 18px;
}
.trade-btn li:last-child {
	margin-right: 0;
}
.trade-btn .on {
	color: #cd2c24;
	border: 2px solid #cd2c24;
}
.chart-pic img{
	margin: 0 auto;
	display: block;
}
.trade-content {
	width: 100%;
	padding-bottom: 585px;
}
.trade-item {
	padding-bottom: 30px;
}
.trade-item h4 {
	width: 210px;
	height: 61px;
	background: url(../images/lignhtArrow.png) no-repeat;
	background-size: contain;
	padding-left: 40px;
	color: #fff;
	line-height: 61px;
	font-size: 20px;
	margin-bottom: 30px;
}
.trade-item .small {
	background: url(../images/smallArrow.png) no-repeat;
}
.trade-item .middle {
	width: 300px;
	background: url(../images/middle-arrow.png) no-repeat;
}
.trade-item .large {
	width: 300px;
	background: url(../images/large-arrow.png) no-repeat;
}
.trade-item .max {
	width: 350px;
	background: url(../images/max-arrow.png) no-repeat;
}
.trade-item p {
	color: #333;
	font-size: 14px;
	line-height: 2.2;
	text-indent: 2em;
}
.trade-item  h5 {
	color: #333;
	font-size: 16px;
	padding: 10px 0;
}
table {
	width: 100%;
	margin: 0 20px;
	border: 2px solid #fff;
}
.rule td {
	height: 60px;
	font-size: 18px;
	text-align: center;
	background: #dbdbdb;
	border: 2px solid #fff;
}
.rule .f5 {
	background: #f5f5f5;
}
.rule .bge {
	background: #eee;
}
.decorate {
	text-align: left;
	padding: 20px 30px;
}
.article-detail {
	padding-top: 70px;
	border-bottom: 2px solid #e5e5e5;
}
.article-detail h3 {
	font-size: 22px;
	text-align: center;
}
.article-detail p {
	text-indent: 2em;
	font-size: 16px;
	line-height: 2.2;
}
.detail-pic {
	width: 100%;
	padding: 30px 0 40px;
}
.detail-pic img {
	display: block;
	margin: 0 auto;
}
.article-detail .time {
	display: block;
	text-align: center;
	font-size: 16px;
	color: #999;
	padding: 50px 0;
}
.article-detail  .source {
	text-align: right;
	padding: 60px 0 70px;
}
.other-news {
	padding-bottom: 119px;
}
.other-news a {
	padding-left: 20px;
	display: block;
	padding-top: 30px;
	color: #cd2c24;
	font-size: 18px;
}
.skill-detail {
	padding-bottom: 224px;
}
.detail-list {
	text-align: right;
	border-bottom: 1px solid #e5e5e5;
}
.detail-list a {
	display: block;
	padding-right: 50px;
	height: 44px;
	line-height: 44px;
	font-size: 16px;
	color: #999;
}
.detail-list .on {
	background: #3583c8;
	color: #fff;
}
.character {
	width: 1200px;
	margin: 0 auto;
}
.character h2 {
	margin-top: 80px;
	margin-bottom: 45px;
}
.character ul {
	width: 100%;
	margin-bottom: 100px;
}
.character li {
	float: left;
	width: 270px;
	height: 270px;
	margin-right: 39px;
	-moz-box-shadow: 2px 2px 2px 3px #e5e5e5; 
	-webkit-box-shadow: 2px 2px 6px 3px #e5e5e5; 
	box-shadow: 2px 2px 6px 3px #e5e5e5; 
}
.character li:last-child {
	margin-right: 0px;
}
.character-pic {
	margin-top: 50px;
	width: 100%;
}
.character li>p {
	font-size: 22px;
	color: #1e559f;
	text-align: center;
	width: 100%;
}
.character-pic img {
	display: block;
	width: 98px;
	height: 120px;
	margin: 0 auto;
	margin-bottom: 39px;
}
.character-pic .car {
	width: 125px;
	height: 84px;
	margin-top: 65px;
	margin-bottom: 60px;
}
.character-pic .business {
	width: 109px;
	height: 110px;
	margin-top: 52px;
	margin-bottom: 46px;
}
.character-pic .gold {
	width: 103px;
	height: 94px;
	margin-top: 65px;
	margin-bottom: 50px;
}
.platform-main {
	padding-top: 30px;
}
.platform-main h2 {
	padding: 60px 0px;
	color: #cd2c24;
	font-size: 30px;
	text-align: center;
}
.platform-pic {
	width: 850px;
	height: 334px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.platform-pic img {
	width: 100%;
	display: block;
}
.platform-main p {
	font-size: 15px;
	color: #333;
	line-height: 2;
	text-indent: 2em;
}
.platform-main h3 {
	color: #cd2c24;
	font-size: 18px;
	padding-top: 30px;
	padding-bottom: 20px;
}
.download-code {
	margin-top: 60px;
	margin-left: 110px;
	margin-bottom: 255px;
}
.download-code li {
	float: left;
	width: 200px;
	margin-right: 170px;
}
.download-code li:last-child{ 
	margin-right: 0px;
}
.download-code a {
	display: block;
	width: 160px;
	height: 45px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid  #cd2c24;
	color: #cd2c24;
	font-size: 16px;
	text-align: center;
	line-height: 45px;
	margin: 0 auto;
	margin-top: 40px;
}
.download-code a:hover {
	background: #cd2c24;
	color: #fff;
}
.download-code .ios-code,
.download-code .and-code {
	margin-top: 30px;
}
.code-pic-win {
	margin: 0 auto;
	margin-top: 20px;
	width: 128px;
	height: 129px;
}
.code-pic-ios,
.code-pic-and {
	margin: 0 auto;
	width: 160px;
	height: 160px;
}
.code-pic-win img,
.code-pic-ios img,
.code-pic-and img{
	display: block;
	width: 100%;
}
.table-main {
	padding-top: 80px;
}
.table-banner {
	width: 950px;
	height: 300px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.table-banner img {
	display: block;
	width: 100%;
}
.table-content h2 {
	width: 950px;
	margin: 0 auto;
	font-size: 30px;
	color: #333333;
	padding-left: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #e5e5e5;
}
.table-list li {
	width: 950px;
	margin:0 auto;
	height: 70px;
	line-height: 70px;
	padding-left: 10px;
	border-bottom: 2px solid #e5e5e5;
}
.table-list li>p {
	font-size: 16px;
	color: #333;
	float: left;
}
.list-right {
	float: right;
}
.table-btn {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/download-btn.png) no-repeat;
	background-size: contain;
	margin-right: 30px;
}
.table-time {
	font-size: 14px;
	color: #999;
}
.table-bottom {
	margin-bottom: 123px;
}
.side-box {
	position: fixed;
	right: 0;
	top: 100px;
	z-index: 1000;
}
.side-box li {
	width: 90px;
	height: 90px;
	margin-bottom: 10px;
}
.side-box li >a{
	display: block;
	width: 100%;
	height: 100%
}
.server-link {
	background: url(../images/kefu.png) no-repeat;
	background-size: contain;
}
.account-link {
	background: url(../images/account.png) no-repeat;
	background-size: contain;
}
.customer-link {
	background: url(../images/server.png) no-repeat;
	background-size: contain;
}
.weibo-link {
	background: url(../images/weibo.png) no-repeat;
	background-size: contain;
}
.back-link {
	background: url(../images/backTop.png) no-repeat;
	background-size: contain;
}
.bank {
	width: 600px;
	margin: 20px auto 270px;
	background: #dbdbdb;
}
.bank td {
	height: 60px;
	font-size: 16px;
	text-align: center;
}
.bank .bge {
	background: #eee;
}
.bank .h80 {
	height: 80px;
}
.dynamic-detail {
	width: 100%;
	margin-bottom: 819px;
}
.dynamic-detail h3 {
	padding: 60px 0;
	font-size: 26px;
	text-align: center;
}
.dynamic-detail h6 {
	padding-bottom: 60px;
	font-size: 18px;
	color: #999;
	text-align: center;
}
.dynamic-detail p {
	font-size: 18px;
	padding-left: 58px;
	padding-bottom: 20px;
	line-height: 1.6;
}
.dynamic-detail .red {
	color: #cd2c24
}
.dynamic-table {
	margin: 10px 0 30px;
}
.dynamic-table li {
	width: 602px;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.dynamic-table li span {
	display: block;
	float: left;
	width: 300px;
	height: 60px;
	line-height: 60px;
	border-top: 1px solid #999;
}
.dynamic-table .last {
	border-bottom: 1px solid #999;
}
.dynamic-table .right {
	border-right: 1px solid #999;
}
.dynamic-table .normal {
	line-height: 1.6;
}
.candles-list,
.candles-list li{
	width: 100%;
}
.candles-list li{
	margin-bottom: 80px;
}
.candles-pic { 
	float: left;
	width: 200px;
	height: 140px;
}
.candles-pic img {
	display: block;
	width: 100%;
 }
 .candles-content {
 	float: left;
 	width: 592px;
 	margin-left: 80px;
 }
 .number-list {
 	width: 735px;
	padding: 20px 0 0 60px;
 }
.number-list li {
	width: 165px;
	float: left;
	font-size: 16px;
	color: #333;
	margin-bottom: 20px;
}
.mask {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.5);
	z-index: 9999;
}
.notice {
	position: absolute;
	width: 950px;
	height: 300px;
	left: 50%;
	margin-left: -475px;
	top: 230px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;

}
.notice .title,
.statement .title {
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 22px;
	color: #fff;
	position: relative;
	background: -moz-linear-gradient(left,#f2826a, #cd2c24);
	background: -webkit-linear-gradient(left,#f2826a, #cd2c24);
	background: linear-gradient(left,#f2826a, #cd2c24);
}
.notice-content {
	padding: 20px 50px 30px;
	background: #fff;
}
.notice-content h2 {
	font-size: 28px;
	color: #333;
	text-align: center;
	padding-bottom: 20px;
}
.notice-content p {
	font-size: 14px;
	line-height: 1.8;
}
.notice-content em {
	color: #cd2c24;
	font-size: 14px;
}
.notice-time {
	display: block;
	width: 100%;
	padding-top: 20px;
	text-align: right;
}
.close {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 20px;
	height: 20px;
	background: url(../images/close.png) no-repeat;
	background-size: contain;
	z-index: 100;
}
.statement {
	position: fixed;
	left: 0;
	top: 300px;
	width: 400px;
	height: 300px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
	z-index: 8888;
	border:1px solid #bfbfbf;
}
.statement-content {
	padding: 20px 30px;
	background: #fff;
	font-size: 15px;
	height: 240px;
}